.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
@media (max-width: 768px) {
  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
