.container {
  max-width: 1300px !important;
  margin: 0 auto;
  padding: 0 4rem;
  position: relative;
}
@media (max-width: 1300px) {
  .container {
    padding: 0 1.5rem;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 1rem;
  }
}
.hero-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  /* border-bottom: 1px solid #00bcd4; */
}
.hero-content {
  flex: 1;
  margin-top: 1rem;
}

.hero-content h2 {
  font-size: 2.5rem;
  line-height: 4rem;
  margin-bottom: 1rem;
  color: #00bcd4;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.hero-content p {
  font-size: 1.3rem;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  line-height: 2rem;
}
.p-typewriter {
  font-size: 2rem;
}
.typewriter {
  color: #f26f27;
  font-size: 2.5rem;
  font-weight: 500;
  font-family: "Playwrite AU QLD", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}
.hero-img {
  flex: 1;
}
.hero-section1 {
  display: flex;
  align-items: flex-end;
  margin-top: 0.3rem;
}

.tech-icons {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.tech-icons img {
  width: 5vw;
  transition: all 1s ease-in-out;
  /* border: 2px solid #00bcd4; */
  border-radius: 0.65rem;
  padding: 1px;
}
.tech-icons img:hover {
  transform: translateY(-0.5rem);
  filter: drop-shadow(1px 1px 2px rgb(243, 180, 143));
}
.image {
  width: 40vw;
  margin: 1rem 0.2rem;
  border-radius: 15px;
  flex: 2;
  transition: all 1s ease-in-out;
}
.image:hover {
  filter: drop-shadow(1px 1px 2px #f26f27);

  transform: translateY(-0.5rem);
}

.hero-section2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media (max-width: 1024px) {
  .hero-content h2 {
    font-size: 1.8rem;
    line-height: 3rem;
    margin-bottom: 0;
  }

  .hero-content p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .typewriter {
    font-style: 2rem;
  }
  .tech-icons img {
    width: 5vw;
  }
  .image {
    margin: 1rem 0.2rem;
  }
}
@media (max-width: 956px) {
  .typewriter {
    font-size: 1.7rem;
  }
}
@media (max-width: 768px) {
  .hero-content {
    margin: 0;
  }
  .tech-icons {
    gap: 0;
  }
  .hero-container {
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
  }

  .image {
    width: 70vw;
    margin: 0;
  }
  .tech-icons img {
    width: 10vw;
  }
  .hero-content h2 {
    font-size: 2rem;
    line-height: 1.3;
    margin-bottom: 0;
  }
  .hero-content p {
    font-size: 1.2rem;
    line-height: normal;
    font-weight: 300;
    width: 100%;
  }
  .typewriter {
    font-size: 2rem;
    font-weight: 400;
  }
  .p-typewriter {
    font-size: 1.5rem;
  }
}
@media (max-width: 470px) {
  .typewriter {
    font-size: 1.5rem;
  }
}
@media (max-width: 385px) {
  .typewriter {
    font-size: 1.25rem;
  }
  .hero-content h2 {
    font-size: 1.3rem;
  }
  .hero-content p {
    font-size: 1rem;
  }
}
