.skills-container {
  /* margin: 4rem 0; */
  position: relative;
}
.skills-container h5 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.skills-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.skills {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.skills-info {
  flex: 1;
}
@media (max-width: 768px) {
  .skills-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
