.mobile-menu {
  width: 75%;
  height: 100vh;
  display: none;
  background-color: #99ffea;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  opacity: 0;
  box-shadow: 0 29px 80px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
  transform: translateX(100vw);
}
.mobile-menu-container {
  width: 60vw;
  height: 100vh;
  padding: 2rem;
}
.mobile-menu.active {
  opacity: 1;
  transform: translateX(0);
}
.mobile-menu img {
  margin-bottom: 3rem;
  width: 6rem;
  border: none !important;
}
.hr {
  border-bottom: 2px solid #03045e;
}
.mobile-menu ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
  margin-left: -2rem;
}
@media (max-width: 460px) {
  .mobile-menu {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .nav-container {
    padding: 0;
  }
  .mobile-menu {
    display: block;
  }

  .menu-item {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .nav-btn {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .nav-logo {
    width: 5rem;
    height: auto;
    margin-left: 10px;
  }
  .mobile-menu-container .nav-logo {
    width: 10rem;
    height: auto;
    margin-left: 15px;
  }
}
