.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  border-top: 1.5px solid orange;
  color: blue;
  font-weight: 500;
  padding: 0.5rem;
  background-image: linear-gradient(-225deg, #e7fff5 0%, #fffff9 100%);
}
.footer p {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .footer {
    font-weight: normal;
    height: auto;
    font-size: 0.5rem;
    border-top: 1px solid blue;
    margin-top: 1rem;
  }
}
