.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  border-top: 1.5px solid #f77f00;
  color: #03045e;
  font-weight: 500;
  padding: 0.5rem;
  background-color: #caf0f8;
}
.footer p {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .footer {
    font-weight: normal;
    height: auto;
    font-size: 0.75rem;
    border-top: 1px solid blue;
    margin-top: 1rem;
  }
}
