@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
  font-family: "Oswald", sans-serif;
  overflow-x: hidden; 
}
@media (min-width: 1800px) {
  .image {
    max-width: 466px !important;
  }
  .tech-icons img {
    max-width: 60px !important;
  }
} 

/* add in global css */
.input {
  @apply bg-[#1f2937] p-2 rounded-md outline-none;
}

.btn-primary {
  @apply bg-purple-600 px-4 py-2 rounded-md;
}

.btn-secondary {
  @apply bg-gray-600 px-4 py-2 rounded-md;
}